<div *ngIf="childSelectedBeerKeg">
  <h2>{{childSelectedBeerKeg.name}}</h2>
  <div class="main">
    <div class="form">
      <label>Name :</label>
      <input [(ngModel)]="childSelectedBeerKeg.name">
    </div>
    <div class="form">
      <label>Price :</label>
      <input [(ngModel)]="childSelectedBeerKeg.price">
    </div>
    <div class="form">
      <label>Alcohol Content :</label>
      <input [(ngModel)]="childSelectedBeerKeg.alcoholContent">
    </div>
    <div class="form">
      <label>Remaining pints :</label>
      <input [(ngModel)]="childSelectedBeerKeg.capacity">
    </div>
    <div class="button">
      <button (click)="finishEditing()">Done</button>
    </div>
  </div>
</div>
