h2 {
  color: #FFF;
  margin-top: 5%;
}

label {
  font-size: 1.5em;
}

input {
  font-size: 1.5em;
  margin: 1% 1% 1% 1%;
  border-color: red;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
}

.form {
  text-align: left;
}

.button {
  font-size: 1.5em;
  margin-top: 1%;
  text-align: center;
}

button {
  border-color: red;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
}

.main {
  width: 260px;
  margin: auto;
}
