li {
  list-style: none;
  font-family: monospace;
  font-size: 20px;
}

button {
  background-color: rgba(0,0,0,0.2);
  padding: 0.5%;
  font-size: 10px;
}

.btn-edit {
  border-color: green;
}

.btn-buy {
  border-color: red;
}

.cheap-beer{
  color: orange;
}

.good-beer{
  color: green;
}

.expensive-beer{
  color: blue;
}
