li {
  list-style: none;
  font-family: monospace;
  font-size: 20px;
}

button {
  background-color: rgba(0,0,0,0.5);
  padding: 0.5%;
}

.btn-edit {
  border-color: green;
}

.btn-buy {
  border-color: red;
}
