<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the Tap Room!
  </h1>
</div>
<div class="container">
  <app-beer-list [childBeerList]="masterBeerKegList" (clickSender)="editBeer($event)" (clickedBuy)="buyBeer($event)" (clickedGrowler)="buyGrowler($event)"></app-beer-list>

  <app-new-beer (sendBeer)="addNewBeer($event)"></app-new-beer>

  <app-edit-beer [childSelectedBeerKeg]="selectedBeerKeg" (clickedDone)="finishEditing()"></app-edit-beer>
</div>
