.new-beer {
  font-size: 20px;
}

h1 {
  color: #FFF;
}

button {
  margin-top: 1%;
  border-color: red;
  background-color: rgba(0,0,0,0.2);
  font-size: 2em;
  color: #FFF;
}

input {
  margin: 1% 1% 1% 1%;
  border-color: red;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
}
